* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: sans-serif;
    background: #f5f6f7;
}

.header {
    text-align: center;
    text-transform: uppercase;
    padding: 32px;
    background-color: #d5d5df;
    color: #fff;
    border-bottom: 4px solid #fdb347;
}

.gallery {
    margin: 0 auto;
    padding: 20px 10px;
}

.gallery img {
    width: 100%;
    max-width: 250px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
}