* {
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    margin: 0;
    font-family: sans-serif;
    background: #f5f6f7;
}

.header {
    text-align: center;
    text-transform: uppercase;
    padding: 32px;
    background-color: #060665;
    color: #fff;
    border-bottom: 4px solid #fdb347;
}

.gallery {
    margin: 0 auto;
    padding: 20px 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

.gallery img {
    width: 100%;
    max-width: 250px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
}

@media (min-width:768px){
    body{
        background-image: url("\raspitas.jpg");
    }
}

@media (min-width:992px){
    .gallery{
        display:grid;
        grid-template-columns: 3fr 1fr 1fr ;
    }
    .gallery img{
        max-width:100%;
    }
}